:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);

	--primary: 255 255 255; /* #ffffff */
	--primary-100: 123 116 120; /* #7d8488 */
	--primary-200: 121 128 132; /* #92989b */
	--primary-300: 246 246 246; /* #faf9f6 */
	--primary-400: 50, 168, 82; /* #f4f4f6 */
	--primary-500: 100 100 255; /* #ffffff */
	--primary-600: 255 255 255;
	--primary-700: 150 150 255; /* #ffffff */
	--primary-800: 37 38 46;
	--primary-900: 0 0 0;
	--secondary: 0 0 0; /* #000000 */
	--secondary-100: 102 102 102; /* #666666 */
	--secondary-200: 128 128 128; /* #808080 */
	--secondary-300: 204 204 204; /* #cccccc */
	--secondary-400: 233 233 233; /* #e9e9e9 */
	--secondary-500: 246 246 246; /* #f6f6f6 */
	--secondary-600: 243 243 243; /* #f3f3f3 */
	--selection: rgb(var(--accents-450));

	--accents-000: 164 206 149; /* #a4ce95 */
	--accents-050: 227 236 223; /* #E3ECDF */
	--accents-100: 168 180 191; /* #a8b4bf */
	/* --accents-200: 0 0 0; /* # */
	--accents-300: 239 237 237; /* #efeded */
	--accents-400: 227 89 58; /* #e3593a */
	--accents-450: 244 204 204; /* #F4CCCC */
	--accents-500: 124 174 210; /* #7CAED2 */
	--accents-550: 217 226 230; /* #D9E2E6 */
	--accents-600: 246 242 239; /* #f6f2ef */
	--accents-700: 238 203 172; /* #eecbac */
	--accents-800: 222 233 214; /* #dee9d6 */
	--accents-900: 50 89 198; /* #3259c6 */

	/* Classes from shadowncd ui */
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary-foreground: 355.7 100% 97.3%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 142.1 76.2% 36.3%;
	--radius: 0.3rem;
}

@font-face {
	font-family: 'Jaapokki';
	src: url('/fonts/Jaapokki-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.maven-pro- {
	font-family: 'Maven Pro', sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

.dark {
	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;
	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;
	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;
	--primary: 217.2 91.2% 59.8%;
	--primary-foreground: 222.2 47.4% 11.2%;
	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;
	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;
	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 40% 98%;
	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;
	--ring: 224.3 76.3% 48%;
}

html {
	font-family: 'Maven Pro', 'Jaapokki', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}

body {
	min-width: fit-content;
}
code {
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}
main {
	/* max-width: 1640px; */
	margin: auto;
}

h1 {
	font-size: 40px;
	line-height: 1.3em;
	letter-spacing: 10px;
	font-weight: 800;
	position: relative;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	line-height: 55px;
	font-weight: 600;
	position: relative;
	margin-bottom: 20px;
}

input {
	border: 1px solid black;
	display: block;
}

label {
	display: block;
}

textarea {
	background: white;
	border: 1px solid black;
}

a:after {
	display: block;
	content: '';
	border-bottom: solid 2px black;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	transform-origin: 0% 50%;
}
a:hover:after {
	transform: scaleX(1);
}

input,
textarea {
	background: #eeeef0;
	padding: 16px 19px;
	color: #acafba;
	font-family: 'Maven Pro';
	font-size: 13px;
	display: inline-block;
	border: none;
	border: 1px solid transparent;
	width: 100%;
}

.dots {
	background-image: radial-gradient(circle closest-side, rgba(176, 152, 139, 0.25) 80%, #fff 10%);
	background-position: center bottom;
	background-repeat: repeat-x;
	background-size: 4px 2px;
	border: 0 none;
	display: block;
	height: 3px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}

/* .ribbon {
	@apply relative inline-block h-6 bg-primary-800 pl-6 pr-3 text-center;
}

.ribbon:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	border: 12px solid #25262e;
	z-index: -1;
	right: -24px;
	border-left-width: 24px;
	border-right-color: transparent;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
} */

.border-corners {
	--s: 50px; /* the size on the corner */
	--t: 5px; /* the thickness of the border */
	--g: 20px; /* the gap between the border and image */

	padding: calc(var(--g) + var(--t));
	outline: var(--t) solid #d9636a; /* the color here */
	outline-offset: calc(-1 * var(--t));
	mask:
		conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s))
			calc(100% - var(--s)),
		linear-gradient(#000 0 0) content-box;
	transition: 0.4s;
}
.border-corners:hover {
	outline-offset: calc(var(--g) / -1);
	outline: var(--t) solid #92989b; /* the color here */
	color: black;
}

.image-shadow {
	box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.2);
}
