---
import Layout from '@layouts/Layout.astro'
import Image from 'node_modules/astro/components/Image.astro'
import kpr_banner from '@media/images/kpr_banner.webp'
---

<Layout title="Bar u Piotra - dostawa">
	<div class="mx-auto my-16 max-w-7xl">
		<div class="my-16">
			<h2>Nasze przyszłe cele</h2>
			<Image src={kpr_banner} alt="Banner z promocjami" class="mx-auto hidden md:block" />
			<div class="my-8 flex flex-col gap-4 text-primary-200">
				<p>
					Rozszerzenie profilu dotychczasowej działalności przedsiębiorstwa „Intercom” Piotr Jezik,
					Michał Jezik, Krzysztof Skrobacki S.C. poprzez inwestycje mające na celu wdrożenie nowych
					usług, świadczonych w województwie śląskim.
				</p>
				<p>
					Nr projektu KPOD.01.03-IW.01-3854/24 Okres realizacji: 01.09.2024 – 30.06.2025 Wartość
					przedsięwzięcia: 728 821,03 PLN Wartość dofinansowania UE: 473 437,41 PLN Realizowane
					przedsięwzięcie dotyczy dywersyfikacji dotychczasowej działalności restauracyjnej w
					przedsiębiorstwie „Intercom” Piotr Jezik, Michał Jezik, Krzysztof Skrobacki S.C.
				</p>
				W wyniku realizacji projektu przedsiębiorstwo wprowadzi łącznie sześć nowych usług.
				<ul>
					<li>
						1. Organizacja imprez, konferencji, spotkań, kongresów do 80 osób na Politechnice
						Śląskiej z zapleczem multimedialnym oraz gastronomicznym. Sala będzie wykorzystywana do
						organizacji różnych wydarzeń, takich jak konferencje. Sala konferencyjna zostanie
						wyposażona w niezbędny sprzęt multimedialny i będzie przystosowana do prezentacji treści
						multimedialnych przez prelegentów oraz uczestników spotkań.
					</li>
					<li>
						2. Catering w oparciu o abonamenty dla odbiorców indywidualnych z dostawą do domu, z
						użyciem opakowań wielokrotnego użytku. Ta usługa ma na celu dostarczenie smacznych
						posiłków klientom, którzy cenią wygodę i jakość. W tym celu zostaną zakupione dodatkowe
						urządzenia gastronomiczne, które umożliwią przygotowywanie i przewóz posiłków.
					</li> 3. Potrawy z grilla sprzedawane dzięki ruchomej placówce gastronomicznej, na straganach,
					festynach. Placówka gastronomiczna będzie składała się z mobilnego grilla, namiotu gastronomicznego
					i urządzeń. Inwestycja pozwoli na obsługę nawet 50 osób na godzinę podczas imprez masowych,
					festynów oraz będzie dostępna w ogródku letnim przed restauracją &quot;Gościnna&quot;.
					<li>
						4. Potrawy z grilla na świeżym powietrzu w ogródku letnim przy restauracji Gościnna w
						Gliwicach. W ramach zadania planowane są prace związane z utwardzeniem terenu o
						powierzchni 150 m2 oraz wydzielić strefę ogródka letniego przed restauracją „Gościnna”.
					</li> 5. Organizacja niskobudżetowych wesel i innych imprez okolicznościowych do 350 osób W
					tym celu zostanie zakupione niezbędne wyposażenie, m.in. stoły i krzesła cateringowe, zastawa
					stołowa.
					<li>
						6. Wypożyczalnia rowerów elektrycznych w celach rekreacyjnych. Planowane jest
						uruchomienie usługi wypożyczalni rekreacyjnych rowerów elektrycznych. Przedsięwzięcie to
						pozwoli na poszerzenie oferty oraz przyciągnięcie nowych klientów, zainteresowanych
						aktywnym wypoczynkiem.
					</li>
				</ul> Dodatkowo, firma planuje usprawnienie procesu komunikacji z klientami poprzez zastosowanie
				nowoczesnych, cyfrowych narzędzi. Będą to ekrany reklamowe zainstalowane w lokalach &quot;Stołówka
				Studencka&quot; oraz &quot;Bar u Piotra&quot; będą prezentować ofertę restauracji, w tym danie
				dnia, które wymaga codziennej aktualizacji oraz pełną gamę usług oferowanych przez firmę, takich
				jak organizacja konferencji, catering abonamentowy czy wesela niskobudżetowe. Wnioskodawca również
				planuje poszerzenie istniejącej instalacji fotowoltaicznej w restauracji „Gościnna”. Obecna instalacja
				o mocy 25 kW zostanie powiększona o dodatkowe 20 kW, co pozwoli na oszczędności energii elektrycznej
				oraz zaspokoi dodatkowe zapotrzebowanie związane z ładowaniem rowerów elektrycznych. Projekt
				obejmuje również ramach komponentu szkoleniowego pracownicy wezmą udział w kursie dotyczącym
				„Manager restauracji” oraz &quot;Szkolenie online zarządzanie kosztami lokalu gastronomicznego&quot;,
				Zaplanowane w projekcie działania przyczynią się do pozyskania szerszej grupy klientów dla oferowanych
				usług. Planowane przedsięwzięcie ma na celu zwiększenie odporności wnioskodawcy na różnorodne
				kryzysy, w tym na ewentualne przyszłe pandemie takie jak COVID-19, inne szybko rozprzestrzeniające
				się choroby, a także kryzysy energetyczne czy kryzysy wywołujące skutki ekonomiczne. Celem przedsięwzięcia
				jest wprowadzenie nowych usług w przedsiębiorstwie, które pozwolą na dywersyfikację prowadzonej
				działalności i dotarcie do nowych grup odbiorców, zapewniając stabilizację przychodów w niepewnych
				czasach.
			</div>
		</div>
	</div>
</Layout>
