---
import Layout from '@layouts/Layout.astro'
import SubSideBanner from '@components/banners/SubSideBanner.astro'
---

<Layout title="Bar u Piotra - dostawa">
	<div class="mx-auto my-16 max-w-7xl">
		<main>Dostawa</main>
		<SubSideBanner />
		<div class="my-8">
			<h2>Rozwiązania dla firm</h2>
			<div class="flex flex-col gap-4 text-primary-200">
				<p>
					Twoja firma prowadzi budowę lub remont na terenie Gliwic. Pracownicy spędzają długie
					godziny na mroźnym powietrzu. Chcesz zadbać o ich komfort i docenić ich wysiłek? Zamów
					catering budowlany! Oferujemy świeże, gorące posiłki dostarczane bezpośrednio na budowę.
					Każdy pracownik otrzyma pełnowartościowe drugie danie, idealne na regenerację po ciężkiej
					pracy.
					<b>Posiłki juz od 23.00zł*</b>
				</p>
				<div>
					<h3 class="mb-4">Przykładow menu:</h3>
					<ul class="mb-4 list-disc">
						<li class="ml-10">Kotlet schabowy, ziemniaki, surówka</li>
						<li class="ml-10">Filet z kurczaka, frytki/ziemniaki, surówka</li>
						<li class="ml-10">Wątróbka, ziemniaki, surówka</li>
						<li class="ml-10">Pieczone udko z kurczaka, frytki, surówka</li>
						<li class="ml-10">Rolada wieprzowa, kluski, surówka</li>
					</ul>
					i do wyboru wiele innych. Codziennie staramy się zaproponować unikalne propozycje.
				</div>
				<p>
					Do zaproponowania mamy równie dania jednogarnkowe <b> od 14.00 zł.</b> W skład tej oferty wchodzą:
					<ul class="mb-2 list-disc">
						<li class="ml-10">Bigos</li>
						<li class="ml-10">Fasolka</li>
						<li class="ml-10">Zurek</li>
						<li class="ml-10">Flaki</li>
					</ul>
					Zapraszamy do współpracy. Przy większych zamówieniach oferujemy atrakcyjne rabaty. Wystawiamy
					faktury.
				</p>
			</div>
		</div>
	</div>
</Layout>
