---
import Layout from '@layouts/Layout.astro'
import SubSideBanner from '@components/banners/SubSideBanner.astro'
---

<Layout title="Bar u Piotra - dostawa">
	<main>Dostawa</main>
	<SubSideBanner />
</Layout>
