---
import Layout from '@layouts/Layout.astro'
import FoodMenu from '@components/foodMenu/FoodMenu.astro'
import MainBanner from '@components/banners/MainBanner.astro'
import DiscountBanner from '@components/banners/DiscountBanner.tsx'
import Image from 'node_modules/astro/components/Image.astro'
import kpr_banner from '@media/images/kpr_banner.webp'

export interface FoodMenuItem {
	name: string
	price: string
	description?: string
}

export interface FoodCategory {
	contentTypeId: string
	name: string
	fields: FoodMenuItem[]
}
---

<Layout title="Bar u Piotra">
	<main>
		<MainBanner />
		<DiscountBanner client:only="solid-js" />
		<a href="/cele" class="after:content-none"
			><Image src={kpr_banner} alt="Banner z promocjami" class="mx-auto" /></a
		>

		<FoodMenu />
	</main>
</Layout>
