---
import Layout from '@layouts/Layout.astro'
import FoodMenu from '@components/foodMenu/FoodMenu.astro'
import MainBanner from '@components/banners/MainBanner.astro'
import DiscountBanner from '@components/banners/DiscountBanner.astro'

export interface FoodMenuItem {
	name: string
	price: string
	description?: string
}

export interface FoodCategory {
	contentTypeId: string
	name: string
	fields: FoodMenuItem[]
}
---

<Layout title="Bar u Piotra">
	<main>
		<MainBanner />
		<DiscountBanner />
		<FoodMenu />
	</main>
</Layout>
