---
import Layout from '@layouts/Layout.astro'
import FoodMenu from '@components/foodMenu/FoodMenu.astro'
import MainBanner from '@components/banners/MainBanner.astro'
import SecondaryBanner from '@components/banners/SecondaryBanner.astro'
import { contentfulClient } from '../lib/contentful'
import { Contact } from '@components/contact/Contact.tsx'

export interface FoodMenuItem {
	name: string
	price: string
	description?: string
}

export interface FoodCategory {
	contentTypeId: string
	name: string
	fields: FoodMenuItem[]
}
---

<Layout title="Stołówka Studencka">
	<main>
		<Contact client:visible />
	</main>
</Layout>
