---
import Layout from '@layouts/Layout.astro'

import { Contact } from '@components/contact/Contact.tsx'

export interface FoodMenuItem {
	name: string
	price: string
	description?: string
}

export interface FoodCategory {
	contentTypeId: string
	name: string
	fields: FoodMenuItem[]
}
---

<Layout title="Bar u Piotra Kontakt">
	<main>
		<Contact client:visible />
	</main>
</Layout>
