---
import Icon from '@components/shared/Icon.astro'

export interface Props {
	phoneNumber: string
}

const { phoneNumber } = Astro.props
---

<a class="flex" href=`tel:${phoneNumber}`><Icon icon="phone" /> {phoneNumber}</a>
