---
import menu from '@config/menu.json'

export interface NavigationLink {
	name: string
	url: string
}

const { main }: { main: NavigationLink[] } = menu
---

<ul class="flex justify-center gap-5 font-bold">
	{
		main.map((menuItem) => (
			<li>
				<a href={menuItem.url}> {menuItem.name}</a>
			</li>
		))
	}
</ul>
