---
import { Image } from 'astro:assets'
import mainBannerImage from '@media/images/main_banner.png'
---

<div
	id="main"
	class="relative mx-auto flex w-full max-w-[1600px] scroll-my-16 justify-center py-16"
>
	<Image src={mainBannerImage} alt="Main banner" height={700} width={1600} loading={'eager'} />
</div>
