---
import { Image } from 'astro:assets'
import mainBannerImage from '@media/images/main_banner.jpeg'
import Button from '@components/primitives/Button'
---

<div class="relative flex w-full">
	<div class="flex w-full justify-center py-16">
		<Image src={mainBannerImage} alt="Main banner image" height={700} />
	</div>
	<!-- <div class="relative flex flex-col justify-center p-10">
		<h1>Zapraszamy na domowe obiady</h1>
		<ul class="flex max-w-sm flex-col gap-4 px-4">
			<li class="flex justify-between">
				<span>Kotlet schabowy, ziemniaki, surówka</span>
				<span>21.90</span>
			</li>
			<li class="flex justify-between">
				<span>Kotlet schabowy, ziemniaki, surówka</span>
				<span>21.90</span>
			</li>
			<li class="flex justify-between">
				<span>Kotlet schabowy, ziemniaki, surówka</span>
				<span>21.90</span>
			</li>
		</ul>
		<div class="my-8">
			<Button>Przycisk</Button>
		</div>
	</div> -->
</div>
