---
import { Image } from 'astro:assets'
import secondaryBannerImage from '@media/images/sala.jpeg'
---

<div class="mx-auto my-16 max-w-7xl">
	<div class="flex flex-col-reverse md:flex-row">
		<div class="flex justify-center p-16 md:w-1/2">
			<Image src={secondaryBannerImage} alt="Main banner image" height={500} width={500} />
		</div>
		<div class="flex flex-col justify-center p-10 md:w-1/2">
			<h1 class="my-4">Obiady dla firm w Gliwicach</h1>
			<div class="my-4 text-primary-200">
				<p class="mb-4">
					Prowadząc firmę, na pewno zdajesz sobie sprawę, jak istotne dla efektywności i dobrego
					samopoczucia pracowników są przerwy i regeneracja – najlepiej przy smacznym, zdrowym
					posiłku. Codziennie dostarczamy obiady do licznych firm w Gliwicach i okolicach.
				</p>
				<p>
					Masz pytania dotyczące naszej oferty obiadów dla firm w Gliwicach? Skontaktuj się z nami –
					realizujemy również różne zlecenia okolicznościowe, od wigilii firmowych po catering na
					konferencjach i szkoleniach. Zadzwoń pod <b><a href="tel:570100 100">570 100 100</a></b>
					Dla stałych klientów oferujemy atrakcyjne rabaty i promocje!
				</p>
				<br />
				<br />
			</div>
		</div>
	</div>
	<div class="my-8">
		<h2>Rozwiązania dla firm</h2>
		<span>
			<p>
				Twoja firma prowadzi budowę lub remont na terenie Gliwic. Pracownicy spędzają długie godziny
				na mroźnym powietrzu. Chcesz zadbać o ich komfort i docenić ich wysiłek? Zamów catering
				budowlany! Oferujemy świeże, gorące posiłki dostarczane bezpośrednio na budowę. Każdy
				pracownik otrzyma pełnowartościowe drugie danie, idealne na regenerację po ciężkiej pracy.
			</p>
			<p>
				Posiłki obiadowe w cenie 25 zł: Kotlet schabowy panierowany, ziemniaki, kapusta zasmażana
				Filet z kurczaka w pikantnej panierce, frytki, surówka z kapusty pekińskiej i kukurydzy
				Golonko po beskidzku, ziemniaki, kapusta kiszona z marchewką
			</p>
			<p>
				Zestawy drugiego śniadania od 20 zł: Każdy zestaw zawiera dwie kanapki z wysokogatunkową
				wędliną i świeżymi warzywami, sok pomarańczowy lub wodę mineralną oraz owoc sezonowy.
				Przykładowe zestawy: Dwie kanapki z masłem, szynką, serem gouda, pomidorem i sałatą, sok
				pomarańczowy, banan Dwie kanapki z pastą jajeczną, ogórkiem zielonym, rukolą i cebulką, woda
				mineralna, jabłko Zapraszamy do współpracy. Przy większych zamówieniach oferujemy atrakcyjne
				rabaty. Wystawiamy faktury.
			</p>
		</span>
	</div>
</div>
