---
import { Image } from 'astro:assets'
import secondaryBannerImage from '@media/images/sala.jpeg'
---

<div class="mx-auto my-16 max-w-7xl">
	<div class="flex max-h-96">
		<div class="flex w-1/2 justify-center p-16">
			<Image src={secondaryBannerImage} alt="Main banner image" height={500} />
		</div>
		<div class="flex w-1/2 flex-col justify-center p-10">
			<h1 class="my-4">Obiady dla firm w Gliwicach</h1>
			<div class="my-4">
				<span>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
					been the industry's standard dummy text ever since the 1500s, when an unknown printer took
					a galley of type and scrambled it to make a type specimen book. It has survived not only
					five centuries, but also the leap into electronic typesetting, remaining essentially
					unchanged.
				</span>
				<br />
				<br />
			</div>
		</div>
	</div>
	<div class="my-8">
		<h2>Rozwiązania dla firm</h2>
		<span>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
			been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
			galley of type and scrambled it to make a type specimen book. It has survived not only five
			centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
			been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
			galley of type and scrambled it to make a type specimen book. It has survived not only five
			centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		</span>
	</div>
</div>
